body {
    background: linear-gradient(-45deg, #e95a2e, #bf1313, #0078a4, #118268);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    color: #ffffff;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.dropdown-item .nav-link, .active {
    /* border-bottom: 5px ridge #5bc0eb; */
    /* background-color: #2d7d9a75; */
    text-decoration: 2px underline solid rgba(255, 255, 255, 0.5);
    font-weight: bolder;
}